div {
     display: inline-block;
     width: 50%;
}
div
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: rgb(238, 230, 230,0.4);
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border: solid 1px #3498db;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
     font-size: large;
}

body{
     background: url(adda.jpg);
}

div:hover{
     background-color:rgba(238, 255, 0, 0.5);
     color: rgba(247, 9, 195)
}
h1{
     color:red
}
#h11{
     background-color: red;
     color: yellow;
     text-align: center;
}
a{
     color: red;
}
